%h1.woe Select a city to see what's trending...

%p#now{:style => "display: none"}= "Trending now: "

%table.trends
  %tbody
    - 10.times do |i|
      %tr
        %td{:class => "trend", :id => "box#{i}"}

%div.embed
  %div#content

-#%div.infobox
-#  %p other information to go here
