!!!
%html
  %head
    %style * {font-family: 'Lucida Grande', Helvetica, sans-serif;padding:10px;margin:0px;text-align:center;}
    %title Testing???????
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    %script{:async => "", :charset => "UTF-8", :src => "//cdn.embedly.com/widgets/platform.js"}

    %script(src="/infobox.js")
    %script(src="/citiesList.js")
    %link{:rel => "stylesheet", :href => "/styles.css", :type => "text/css"}

  %body{:style => "height: 1000px"}
    %div#map-canvas{:style => "height: 400px; margin: 0px; padding: 0px; "}
    -#%div#info-box{ :style => "background-color: white; border: 1px solid black; bottom: 30px; height: 20px; padding: 10px; position: absolute; left: 30px; "}
    %div= yield
